//Importa colores y variables de abstract
@use '../abstracts/colors';
@use '../abstracts/variables';

#cardTotalizador {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.7rem 0.7rem;
  position: absolute;
  right: 5rem;
  width: 24rem;
  min-height: 10rem;
  //   height: 20em;
  font-size: 1.3em;
  padding: 1em;
  z-index: 200;
  color: black;
}

#cardTotalizador img {
  width: 3rem;
}

.contenedorCarritoShow{
  visibility: visible;
}

.contCarritoHide{
  visibility: hidden;
}

.card-producto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;

  margin-bottom: 1em;
}

.titulocarrito {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: .8em;
}

.imagenyTitulo{
  width: 5em;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centradoFlex{
  display: flex;
}

.sinProductos{
  font-size: 1.1rem;
  margin: 1.5em 2em;
}

.tituloEnCarro{
  width: 100%;
  text-align: left; 
  margin-bottom: 0.5em;
}

.cantidadenCarrito{
  font-size: variables.$font-xS;
  font-weight: variables.$wfont-medium;
  padding-top: 0.4em;
  padding-right: 0.5em;
  color: colors.$green;
}

.sumaCantidadCarrito{
  width: 50%;
  text-align: center;
  color: colors.$green;
}

.restaCantidadCarrito{
  color: colors.$green;
  width: 50%;
  text-align: center;
  border-left: 1px solid black;
}

.modificaCantidad{
  height: auto;
  max-height: 1.4em;
  margin: .3em 0 0 .2em;
  display: flex;
  width: 3em;
  border: 1px solid black;
  border-radius: 15px;
  padding: .1 .1em;
}

.montoaPagar{
  font-size: variables.$font-M;
  text-align: left;
  margin-bottom: 0.2em;
  &--total {
    font-weight: variables.$wfont-medium;
    color: colors.$green;
  }
}


.resumenCompra{
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2em 0em;
   border-top: 1px solid colors.$green;
}